originator_api_url = "https://nodes.kaleido.dev"
originator_api_key_name = "nodes"
originator_api_key_value = "***"

joiner_one_api_url = "https://nodes1.kaleido.dev"
joiner_one_api_key_name = "nodes1"
joiner_one_api_key_value = "***"

joiner_two_api_url = "https://nodes2.kaleido.dev"
joiner_two_api_key_name = "nodes2"
joiner_two_api_key_value = "***"

originator_name = "originator"
originator_signer_count = 1
originator_peer_count = 1
originator_peer_network_dz = "platform-conn"
originator_peer_network_connection = "platform"

joiner_one_name = "joiner_one"
joiner_one_peer_count = 1
joiner_one_peer_network_dz = "platform-conn"
joiner_one_peer_network_connection = "platform"

joiner_two_name = "joiner_two"
joiner_two_peer_count = 1
joiner_two_peer_network_dz = "platform-conn"
joiner_two_peer_network_connection = "platform"
