---
page_title: "Kaleido Provider"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# Kaleido Provider

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}